<div class="alain-default__aside-inner">
  <div class="alain-default__header-profile">
    <div class="alain-default__header-logo">
      <a [routerLink]="['/']" class="alain-default__header-logo-link">
        <img class="alain-default__header-logo-expanded" src="./assets/logo-full.png" alt="{{settings.app.name}}" style="max-height:50px;" />
        <img class="alain-default__header-logo-collapsed" src="./assets/logo.png" alt="{{settings.app.name}}" style="max-height:50px;" />
      </a>
    </div>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      Click me
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>1st menu item</li>
        <li nz-menu-item>2nd menu item</li>
        <li nz-menu-divider></li>
        <li nz-menu-item nzDisabled>disabled menu item</li>
        <li nz-submenu nzTitle="sub menu">
          <ul>
            <li nz-menu-item>3rd menu item</li>
            <li nz-menu-item>4th menu item</li>
          </ul>
        </li>
        <li nz-submenu nzDisabled nzTitle="disabled sub menu">
          <ul>
            <li nz-menu-item>3rd menu item</li>
            <li nz-menu-item>4th menu item</li>
          </ul>
        </li>
      </ul>
    </nz-dropdown-menu>
    <!--<div nz-dropdown nzTrigger="click" [nzDropdownMenu]="userMenu" class="alain-default__aside-user">-->
      <!--<nz-avatar class="alain-default__aside-user-avatar" [nzSrc]="settings.user.avatar"></nz-avatar>-->
      <!--<div class="alain-default__aside-user-info">-->
        <!--<strong>{{ settings.user.name }}</strong>-->
        <!--<p class="mb0">{{ settings.user.email }}</p>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <nz-dropdown-menu #userMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item routerLink="/pro/account/center">个人中心</li>
      <li nz-menu-item routerLink="/pro/account/settings">个人设置</li>
    </ul>
  </nz-dropdown-menu>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
