<page-header></page-header>
<nz-card>
  <div class="action-row" style="padding-bottom: 10px">
    <div>
      <nz-button-group>
        <button nz-button nzType="primary">新建资产</button>
        <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu3" nzTrigger="click" nzPlacement="bottomLeft">
          <i nz-icon nzType="caret-down"></i>
        </button>
      </nz-button-group>
    </div>

    <div style="margin-bottom: 16px;">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
        <input type="text" nz-input  />
      </nz-input-group>
      <ng-template #addOnBeforeTemplate>
        <nz-select [nzDropdownMatchSelectWidth]="false">
          <nz-option  style="width: 60px" [nzLabel]="'Http://'" [nzValue]="'Http://'"></nz-option>
          <nz-option  style="width: 60px" [nzLabel]="'Https://'" [nzValue]="'Https://'"></nz-option>
        </nz-select>
      </ng-template>
    </div>
    <nz-dropdown-menu #menu3="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>menu3 1st menu item</li>
        <li nz-menu-item>menu3 2nd menu item</li>
        <li nz-menu-item>menu3 3rd menu item</li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <!--<sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>-->
  <st #st [data]="url" [columns]="columns"></st>
</nz-card>
